<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""
                                style="width: 160px; height: 160px; object-fit: cover; border-radius: 50%; object-position: center;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1950s-1980s</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Founded as a traditional shop supplying hotels and restaurants</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""
                                style="width: 160px; height: 160px; object-fit: cover; border-radius: 50%; object-position: center;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1990s-2010s</h4>
                                <h4 class="subheading">The Great Shift</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Focused on selling infant formula and grow up milk</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""
                                style="width: 160px; height: 160px; object-fit: cover; border-radius: 50%; object-position: center;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010s-now</h4>
                                <h4 class="subheading">Digitalization Era</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Transforming into a multi-channel business to reach more customers
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>