<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Offline Store</h4>
                <ul class="text-muted text-left" style="list-style: none; padding-left: 0;">
                    <li style="margin-bottom: 10px;">Jl. Urip Sumoharjo 61, Kepatihan Wetan, Jebres, Surakarta, Jawa Tengah</li>
                    <li style="margin-bottom: 10px;">Jl. Jaya Wijaya 28, Mojosongo, Jebres, Surakarta, Jawa Tengah</li>
                    <li style="margin-bottom: 10px;">Jl. Ahmad Yani RT06/RW07, Papahan, Tasikmadu, Karanganyar, Jawa Tengah</li>
                </ul>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">Find us on Shopee, Blibli, Tokopedia X TikTok </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Delivery Order</h4>
                <a href="https://wa.me/6285729649023" target="_blank" class="text-muted">Contact Us</a>
            </div>
        </div>
    </div>
</section>